.wrap {
    margin: 0 auto;
    height: 100vh;
    text-align: center;
    background-color: black;
    width: 100%;
    max-width: 720px;
    padding-top: 150px;
    padding-bottom: 100px;
    position: relative;
}

.wrap_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
}

header {
    position: relative;
    height: 200px;
    /* お好みで調整 */
    overflow: hidden;
    /* はみ出し防止 */
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    /* 全体に敷き詰める */
    object-fit: cover;
    opacity: 0.25;
    /* 薄くする */
    z-index: -1;
    /* 全ての要素の背面へ */
}

h1{
    color: white;
}

.game_area {
    border: 3px solid #ccc;
    /* 全体の枠線 */
    border-radius: 12px;
    /* 角丸 */
    padding: 20px;
    margin: 40px auto;
    width: 80%;
    background-color: #fafafa;
    /* 少し白背景で浮かせる */
}

.score {
    text-align: center;
    font-size: 30px;
    margin: 50px 0 30px 0;
}

.stanby_card {
    display: block;
    display: flex;
    justify-content: space-between;

}


.battle_field {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cpu_field {
    width: 100px;
    height: 140px;
    border: 2px dashed #666;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    font-size: 14px;
    font-family: "sans-serif";
    margin: 30px;
}

.player_field {
    width: 100px;
    height: 140px;
    border: 2px dashed #666;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    font-size: 14px;
    font-family: "sans-serif";
    margin: 30px;
}

.cpu_hands img {
    width: 100px;
    height: auto;
}

.player_hands {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.player_hands:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.player_hands img {
    width: 100px;
    height: auto;

}

.card_img {
    width: 80px;
    height: auto;
}

.action {
    display: flex;
    justify-content: right;
}

.rule {
    /* margin: 20px; */
    margin-right: 30px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.rule:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.reset {
    /* margin: 20px; */
    color: white;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.reset:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
